@tailwind base;
@tailwind components;
@tailwind utilities;


.htmx-indicator{
  display: none;
}

.htmx-request .htmx-indicator{
  display: inline;
}

.htmx-request.htmx-indicator{
  display: inline;
}