@tailwind base;
@tailwind components;
@tailwind utilities;


.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator{
  display: inline;
}

.htmx-request.htmx-indicator{
  display: inline;
}

.htmx-indicator.force-indicator{
  display: inline;
  opacity: 100;
}