
package components

templ header() {
	<header class="navbar bg-base-100">
		<div class="container mx-auto">
			<a href="/dashboard" class="navbar-brand mr-2">Mailing List</a>
			<a href="/dashboard" class="btn btn-link">Dashboard</a>
		</div>
	</header>
}
