package components

templ Layout(contents templ.Component) {
	<html>
		<head>
			<title>Mailing List</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link
				href="/public/styles.css"
				rel="stylesheet"
			/>
		</head>
		<body class="bg-black text-white">
			@contents
		</body>
	</html>
}
